@import "./config.scss";

.container-signup {
    margin-top: 80px;

    button {
        width: 40%;
        height: 50px;
        background-color: $primaryColor;
        border: none;
        color: white;
        border-radius: 12px;
        font-size: 15px;
    }

    p {
        text-align: center;
        color: $primaryColor;
        font-size: 17px;
        margin-top: 30px;
        font-weight: bold;
    }

    input {
        border-width: 0.5px;
        border-color: $mediumGreyColor;
        border-radius: 12px;
        padding: 10px;
        height: 50px;
        margin-top: 10px;
        width: 90%;
    }

    .error {
        color: $errorColor;
        font-size: 14px;
        margin-top: 10px;
    }

    .button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

        span {
            margin-left: 30px;
            color: $primaryColor;
            font-size: 15px;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    .modal-content {
        border-radius: 12px;
    }

    .modal-footer {
        border-top: none;
    }

    .input_password {
        width: 90%;
        input {
            width: 100%;
        }
        div {
            display: block;
            position: relative;
            img {
                position: absolute;
                bottom: 1rem;
                right: .7rem;
                cursor: pointer;
            }
        }
    }

    @media screen and(min-width:1024px) {
        margin-top: 80px;
    }
}
